@import "main.scss";
@import "css3list.scss";

body {
  //padding-top: 70px;
  //padding-bottom: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#answer_container {
  border: 1px solid gray;
  padding: 2px;
  //max-height: 150px;
  overflow-y: scroll;
}

.del_an_hide {
  display: none !important;
  padding: 0;
}

#answer_container div:hover .del_an_hide {
  display: table-cell !important;
}

.wrap_box{
  position: relative;
  border: 1px solid gray;
  box-shadow: rgba(0,0,0,.8) 3px 3px 5px;
  height: 95%;
  margin:  2px 40px 40px 40px;
  //box-sizing: content-box;
  &>.title{
    background:#4a0263;
    color: #fff;
    text-align: center;
    margin:0;
  }
  &>#tm_list {
    //min-height: 480px;
    //border: 1px solid gray;
    position: absolute;
    top: 33px;
    right: 2px;
    left: 0px;
    bottom: -60px;
    list-style-type: none;
    overflow-y: auto;
    padding-right: 25px;
    > li {
      &:hover .del_an_hide {
        position: absolute;
        display: block !important;
        width: auto;
        padding: 5px;
        right: 5px;
        top: 0px;
      }
      /*	position: relative;
          margin-top: 5px;
          margin-bottom: 5px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background: orange;
          border-radius: 5px;*/
      width:100%;
      position: relative;
      left: 18px;

      //transform: translate(-50%);
      //-webkit-transform: translate(-50%);
    }

  }

}

.is_right {
  opacity: 0;
  display: block;
  width: 25px;
  height: 25px;
  background: yellow;
  + span {
    margin-top: -25px;
    width: 25px;
    height: 25px;
    background: url("/images/cha.png");
    background-size: contain;
    display: block;
  }
  &:checked + span {
    background: url("/images/gou.png");
    background-size: contain;
  }
}
